.navbar {
    padding: 10px 20px;
}

.navbar-brand {
    margin-right: auto;
    padding-left: 20px;
}

.menu-container {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    margin-left: 20px;
}

.menu {
    display: flex;
}

.nav-link {
    margin-right: 15px;
    color: #007bff;
}

.nav-link:hover {
    color: #0056b3;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.image-container img {
    width: 100%;
    height: auto;
    max-width: 1200px;
    max-height: 300px;
}

.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.product-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.product-button:hover {
    background-color: #0056b3;
}

.product-list {
    text-align: center;
    padding: 20px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
}

.product-image {
    width: 100%;
    height: auto;
}

.product-item h3 {
    margin: 10px 0;
}

.product-item p {
    padding: 0 10px 10px;
}

.logo {
    width: 150px;
    height: auto;
}

.login-container {
    margin-left: auto;
}

.login-button {
    color: white;
    background-color: #007bff;
    text-decoration: none;
    padding: 6px 11px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}

#foot {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.sidebar {
    height: 100%;
    width: 250px; /* Lebar sidebar */
    position: fixed;
    top: 0;
    left: -250px; /* Menyembunyikan sidebar di luar layar */
    background-color: #f8f9fa; /* Warna latar belakang */
    overflow-x: hidden;
    transition: 0.5s; /* Animasi untuk transisi */
    padding-top: 60px; /* Jarak dari atas */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Bayangan */
    z-index: 1; /* Pastikan sidebar berada di atas konten */
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #ddd; /* Warna latar belakang saat hover */
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #f8f9fa; /* Warna tombol */
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
}
